{#include layout/base}
{#title}{event.shortName} Teams {/title}

{#breadcrumb}
<ol class="breadcrumb" style="display: flex; list-style: none; padding: 0; gap: 0.5rem;">
	<li><a href="/events/{event.year}">{event.year} Events</a></li>
	<li>&rsaquo;</li>
	{#if event.getDistrict() != null}
	<li><a href="/districts/{event.getDistrict().key}/events">{event.getDistrict().getAbbreviation().toUpperCase()}
			{event.year}</a></li>
	<li>&rsaquo;</li>
	{/if}
	{#if parentEvent != null}
	<li><a href="/events/{parentEvent.key}">{parentEvent.getShortName()}</a></li>
	<li>&rsaquo;</li>
	{/if}
	<li>{event.shortName}</li>
</ol>
{/breadcrumb}

{#content}
<div class="row">
	<div class="twelve columns">
		<table class="u-full-width">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>City</th>
					{#if oprs.size() == 0}
					{#else}
					<th>OPR</th>
					{/if}
					<th>Highest Season OPR</th>
				</tr>
			</thead>
			<tbody>
				{#each teams}
				<tr>
					<td>{it.teamNumber}</td>
					<td>{it.nickname}</td>
					<td>{it.city}</td>
					{#if oprs.size() == 0}
					{#else}
					<td>{oprs.get(it.key)}</td>
					{/if}
					<td>{highestOprs.get(it.key)}</td>
				</tr>
				{/each}
			</tbody>
		</table>
	</div>
</div>
{/content}
{/include}